 html {
 	background-color: brown;
 }

 body {
 	width: 75%;
	margin: auto; 
	display: flex;
	flex-direction: column;
	background-color: white;
 }

 #burger_img {
 	display: block;
    margin: auto;
 }

 h1 {
 	text-align: center;
 	font-family: 'Lobster', cursive;
 	font-size: 65px;
 }

 .burgerAvailable {
 	font-family: 'Ubuntu Condensed', sans-serif;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;
 	border-radius: 25px;
 	width: 100%;
 	margin: 10px;
 	padding: 10px;
 	background-color: blue;
 	border: none;
 }

 .burgerAvailable:hover {
 	background-color: grey;
 }

 .burgerEaten {
 	font-family: 'Ubuntu Condensed', sans-serif;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	margin: 10px;
 	padding: 10px;
 	background-color: red;
 }

 h4 {
  	text-align: center;
 	font-family: 'Lobster', cursive;
 	font-size: 40px;
 }

  h5 {
  	text-align: center;
 	font-family: 'Lobster', cursive;
 	font-size: 20px;
 }

 .formContainer {
 	background-color: blue;
 }

 .addBurgerButton {
 	font-family: 'Lobster', cursive;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;
 	border-radius: 25px;
 	width: 100%;
 	margin: 0;
 	padding: 10px;
 	background-color: green;
 	border: none;
 }

.addBurgerButton:active {
	background-color: blue;
}
